version: 2
jobs:
 check-changes-in-repo:
    docker:
      - image: google/cloud-sdk
    working_directory: ~/repo
    steps:
      - checkout
      - run:
         name: Connect to BigQuery
         command: |
          echo $GCLOUD_SERVICE_KEY > key.json
          gcloud auth activate-service-account --key-file=key.json
          gcloud config set project $GCLOUD_PROJECT_ID

      - run:
         name: Dry Run Changed Files
         command: |
          export CHANGED_FILES=`git diff --name-only HEAD^..HEAD | grep -E '.*\.sql'`
          echo $CHANGED_FILES
          for file in $CHANGED_FILES;do
           echo "Dry running the sql $file"
           git diff HEAD^..HEAD $file >> tempfile
           echo "`cat $tempfile`"
           bq query --dry_run --use_legacy_sql=false --nouse_legacy_sql --project_id=$GCLOUD_PROJECT_ID < $tempfile
           if [ $? -ne 0 ]; then
            echo "SQL syntax error in file $file"
            exit 1
           fi
          done
         
 run-changes-in-repo:
    docker:
      - image: google/cloud-sdk
    working_directory: ~/repo
    steps:
      - checkout
      - run:
         name: Connect to BigQuery
         command: |
          echo $GCLOUD_SERVICE_KEY > key.json
          gcloud auth activate-service-account --key-file=key.json
          gcloud config set project $GCLOUD_PROJECT_ID
      
      - run:
         name: Run Changed Files
         command: |
          export CHANGED_FILES=`git diff --name-only HEAD^..HEAD | grep -E '.*\.sql'`

          for file in $CHANGED_FILES;do
           echo "Executing sql $file"
           git diff HEAD^..HEAD $file >> tempfile
           echo "`cat $tempfile`"
           bq query --use_legacy_sql=false --nouse_legacy_sql --project_id=$GCLOUD_PROJECT_ID < $tempfile
          done

workflows:
  version: 2
  build-deploy:
    jobs:
      - check-changes-in-repo:
          filters:
           branches:
            ignore: main
      - run-changes-in-repo:
          filters:
           branches:
            only: main